local arg = { ... }
if(#arg ~= 1) then
  error("Expected single integer/string argument on commandline for wireless channel/turtle label")
end

modem = peripheral.wrap("back")
channel_mapping = { ['baldrick'] = 1, ['darling'] = 2, ['farmer'] = 3 }
mapped_channel = channel_mapping[arg[1]]
if mapped_channel then
  channel = mapped_channel
else
  channel=tonumber(arg[1])
end
modem.open(channel) -- Open channel

local running = true
while running do
  local event, key = os.pullEventRaw()
  if event == "terminate" then
    print ("good bye!")
    modem.close(channel)
    running = false
  elseif event == "key" then
    modem.transmit(channel,channel,key)
  end
end
